@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Cocogoose';
  src: url('../assets/fonts/Cocogoose.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* Navigation Mobile */

.nav-desktop {
  display: none;
}

.top-bar {
  display: none;
}

#nav-icon {
  width: 65px;
  height: 40px;
  position: relative;
  margin: 30px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 20%;
  background: #272a31;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(even) {
  left: 20%;
}

#nav-icon span:nth-child(odd) {
  left: 0px;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
  top: 10px;
}

#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
  top: 20px;
}

#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),
#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.navigation-mobile {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: red;
  display: none;
  overflow-x: hidden;
  transition: 0.5s;
}

.navigation-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40%;
}

.navigation-mobile ul li {
  list-style-type: none;
}

.navigation-mobile ul li a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #fff;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.navigation-mobile-open {
  display: block;
}

*.hide {
  display: none;
}

.mt-20 {
  margin-top: 20px;
}

/* Index Page Mobile */
.hero {
  display: flex;
  flex-direction: column;
  padding: 20% 15px;
}

.hero-text-1 {
  color: #ec5242;
}

.hero-header-1 {
  color: #ec5242;
  font-weight: 700;
  font-family: 'Cocogoose', Arial, Helvetica, sans-serif;
}

.hero-text-2 {
  padding: 15px;
  color: #272a31;
}

.hero-header-2 {
  color: #272a31;
  font-weight: 800;
  font-size: 1.5rem;
}

.hero-text-3 {
  color: #272a31;
  font-weight: 400;
  font-size: 2rem;
}

.services {
  background-color: #272a31;
  padding: 10% 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-heading {
  color: #d3d3d3;
  text-align: center;
  position: relative;
  font-weight: 400;
}

.services-heading::after {
  content: '';
  position: absolute;
  width: 55px;
  height: 1px;
  background-color: #ec5242;
  bottom: -16px;
  left: calc(50% - 27px);
}

.services ul {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
}

.service-item {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #3c3f46;
  padding: 20px;
}

.service-item-image {
  flex: 1 1 100px;
}
.service-item-title {
  flex: 2 2 100%;
  color: #ec5242;
}
.service-item-description {
  flex: 2 2 400px;
  color: #d3d3d3;
}

.services-button {
  background-color: #ec5242;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: #d3d3d3;
  width: 60%;
}

.employees {
  padding: 10% 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employees-heading {
  color: #272a31;
  text-align: center;
  position: relative;
  font-weight: 400;
}

.employees-heading::after {
  content: '';
  position: absolute;
  width: 55px;
  height: 1px;
  background-color: #ec5242;
  bottom: -16px;
  left: calc(50% - 27px);
}

.employees-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 30px;
  gap: 10px;
  align-items: center;
}

.employees-item-image-div {
  position: relative;
}

.employees-item-image-1 {
  width: 40px;
  position: absolute;
  top: -55px;
}

.employees-item-image-2 {
  width: 70px;
  top: -40px;
  position: absolute;
  left: 10px;
}

.employees-item-info {
  display: flex;
  flex-direction: column;
}

.employees-item-info div {
  display: flex;
  flex-direction: column;
}

.service-item-info-name {
  color: #272a31;
  font-weight: 400;
}

.service-item-info-role {
  color: #ec5242;
  font-weight: 300;
  font-style: italic;
  position: relative;
}

.service-item-info-role::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 1px;
  width: 20%;
  background-color: #d3d3d3;
}

.service-item-info-description {
  color: #272a31;
  font-weight: 300;
}

.employees-button {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d3d3;
  text-decoration: none;
  gap: 5px;
}

.index-partners {
  display: none;
}
.index-footer {
  display: none;
}

/* About Page */

.about-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 15px;
}

.about-hero-text-1 {
  color: #ec5242;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.about-hero-header-1 {
  color: #ec5242;
  font-weight: 700;
  font-family: 'Cocogoose', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.about-hero-text-2 {
  padding: 15px;
  color: #272a31;
  text-align: center;
  font-size: 1rem;
}

.about-hero-text-3 {
  font-size: 1.2rem;
  text-align: center;
  color: #ec5242;
}

.about-hero-email {
  margin: 10% 0;
  color: #272a31;
  font-weight: 900;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.about-hero-email img {
  width: 30px;
}

.about-logo {
  width: 400px;
  padding: 0 15px;
}

.logo-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.about-past {
  padding: 70px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-past-heading {
  color: #272a31;
  text-align: center;
  position: relative;
  font-weight: 400;
}

.about-past-heading::after {
  content: '';
  position: absolute;
  width: 55px;
  height: 1px;
  background-color: #ec5242;
  bottom: -16px;
  left: calc(50% - 27px);
  font-size: 1.2rem;
}

.about-past-text {
  text-align: center;
  margin-top: 30px;
}

.about-past ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-past-item-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  background-image: url('../assets/images/product-school2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-past-item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  background-image: url('../assets/images/product-school1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.about-past-item-1 .about-past-item-year {
  color: #d3d3d3;
  font-size: 40px;
  font-weight: 700;
}

.about-past-item-2 .about-past-item-year {
  color: #272a31;
  font-size: 40px;
  font-weight: 700;
}

.about-past-item-1 .about-past-item-description {
  color: #d3d3d3;
  font-weight: 700;
}

.about-past-item-2 .about-past-item-description {
  color: #272a31;
  font-weight: 700;
}

.about-partners {
  background-color: #272a31;
  padding: 70px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-partners-heading {
  color: #d3d3d3;
  text-align: center;
  position: relative;
  font-weight: 400;
}

.about-partners-heading::after {
  content: '';
  position: absolute;
  width: 55px;
  height: 1px;
  background-color: #ec5242;
  bottom: -10px;
  left: calc(50% - 27px);
}

.about-partners ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about-partners-item {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

.about-partners-item img {
  width: 100px;
}

.footer {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 10px;
}

.footer-1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-1 img {
  width: 1rem;
}

.footer-1 h2 {
  font-family: 'Cocogoose', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #272a31;
  gap: 10px;
}

.footer-2 :nth-child(1) {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1rem;
  color: #272a31;
}

.footer-2 :nth-child(2) {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.5rem;
  color: #272a31;
}

@media only screen and (min-width: 768px) {
  #nav-icon {
    display: none;
  }

  .navigation-mobile {
    display: none;
  }

  .top-bar {
    background-color: #272a31;
    padding: 5px 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
  }

  .top-bar a {
    text-decoration: none;
    color: #d3d3d3;
    font-size: 14px;
  }

  .nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    box-shadow: 4px 2px 3px #d3d3d3;
  }

  .nav-desktop a {
    text-decoration: none;
  }

  .index-logo {
    height: 50px;
  }

  .nav-desktop-ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .nav-desktop-li a {
    color: #3c3f46;
  }

  .nav-desktop-li a:active,
  .nav-desktop-li a:visited {
    color: #ec5242;
  }

  .ki-campaign {
    margin-left: 50px;
    border: 1px solid #ec5242;
    padding: 10px;
    color: #3c3f46;
  }

  .ki-campaign:hover {
    background-color: #ec5242;
    color: #d3d3d3;
  }

  /* HERO SECTION DESKTOP */

  .hero {
    display: flex;
    flex-direction: column;
    padding: 10% 10%;
  }

  .hero-text-1 {
    color: #ec5242;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .hero-header-1 {
    color: #ec5242;
    font-weight: 700;
    font-family: 'Cocogoose', Arial, Helvetica, sans-serif;
    font-size: 4rem;
  }

  .hero-text-2 {
    padding: 15px;
    color: #272a31;
    width: 70%;
    line-height: 1.5;
    font-size: 1.2rem;
  }

  .hero-header-2 {
    color: #272a31;
    font-weight: 800;
    font-size: 1.5rem;
  }

  .hero-text-3 {
    color: #272a31;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
  }

  .services {
    padding: 70px 10%;
  }

  .services ul {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 10px;
  }

  .service-item {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c3f46;
    padding: 20px;
    gap: 10px;
  }

  .service-item-image {
    flex: 1 1 100px;
  }

  .service-item-title {
    flex: 2 2 0;
    color: #ec5242;
  }

  .service-item-description {
    flex: 2 2 0;
    color: #d3d3d3;
  }

  .services-button {
    background-color: #ec5242;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    width: 30%;
    color: #3c3f46;
    border: 1px solid #d3d3d3;
  }

  .services-button:hover {
    background-color: #ec534200;
    color: #d3d3d3;
  }

  .employees ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .employees-button {
    display: none;
  }

  .index-partners {
    background-color: #272a31;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .index-partners-heading {
    color: #d3d3d3;
    text-align: center;
    position: relative;
    font-weight: 400;
  }

  .index-partners-heading::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 1px;
    background-color: #ec5242;
    bottom: -10px;
    left: calc(50% - 27px);
  }

  .index-partners ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .index-partners-item {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px;
  }

  .index-partners-item img {
    width: 150px;
  }

  .index-footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 100px 10%;
  }

  .index-footer-1 {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .index-footer-1 img {
    width: 1rem;
  }

  .index-footer-1 h2 {
    font-family: 'Cocogoose', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #272a31;
    display: flex;
    gap: 10px;
  }

  .index-footer-2 :nth-child(1) {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #272a31;
  }

  .index-footer-2 :nth-child(2) {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.8rem;
    color: #272a31;
  }

  /* ABOUT PAGE DESKTOP */
  .about-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 10%;
  }

  .about-hero-text-1 {
    color: #ec5242;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 500;
  }

  .about-hero-header-1 {
    color: #ec5242;
    font-weight: 700;
    font-family: 'Cocogoose', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    margin-bottom: 40px;
    text-align: center;
  }

  .about-hero-text-2 {
    padding: 15px;
    color: #272a31;
    text-align: center;
    font-size: 1.2rem;
  }

  .about-hero-text-3 {
    font-size: 1.2rem;
    text-align: center;
    color: #ec5242;
  }

  .about-hero-email {
    color: #272a31;
    font-weight: 900;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1% 0;
  }

  .about-hero-email img {
    width: 40px;
  }

  .logo-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10%;
  }

  .about-logo {
    width: 500px;
  }

  .about-past {
    padding: 70px 10%;
    display: flex;
    flex-direction: column;
  }

  .about-past ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
  }

  .about-partners {
    background-color: #272a31;
    padding: 70px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-partners-heading {
    color: #d3d3d3;
    text-align: center;
    position: relative;
    font-weight: 700;
  }

  .about-partners-heading::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 1px;
    background-color: #ec5242;
    bottom: -10px;
    left: calc(50% - 27px);
  }

  .about-partners ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .about-partners-item {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px;
  }

  .about-partners-item img {
    width: 150px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 100px 10%;
  }

  .footer-1 {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .footer-1 img {
    width: 1rem;
  }

  .footer-1 h2 {
    font-family: 'Cocogoose', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #272a31;

    gap: 10px;
  }

  .footer-2 :nth-child(1) {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #272a31;
  }

  .footer-2 :nth-child(2) {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.8rem;
    color: #272a31;
  }
}
